* {
	border: 1px solid black;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}



.board {
	display: grid;
	grid-template-columns: repeat(3, minmax(150px, 200px));
	grid-template-rows: repeat(3, minmax(100px, 150px));
}