* {
	border: 1px solid black;
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
}

.players {
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

button {
	display: block;
	text-align: center;
    margin: 0 auto;
	font-size: 2em;
	margin-bottom: 10px;
	align-content: center;
}

.board {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	justify-content: center;
	align-content: center;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}

.cell.x, .cell.circle {
	cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
	background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
	background-color: lightgray;
}

.cell.x::before,
.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
	position: absolute;
	width: calc(100% * .15);
	height: calc(100% * .9);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
	transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
	transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after {
	background-color: black;
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
	background-color: lightgray;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
	position: absolute;
	border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
	width: calc(100% * .9);
	height: calc(100% * .9);
}

/*Inner Circle*/
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
	width: calc(100% * .7);
	height: calc(100% * .7);
	background-color: white;
}

.winning-message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: .9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	visibility: hidden; 
}

.winning-message button {
	font-size: 3rem;
}